<!doctype html>
<html lang = 'en'>
  <head>
    <meta charset = 'utf-8'>
    <title>Rock, Paper, Scissors</title>
    <link rel = 'stylesheet' href='/style.css'/> 
  </head>
  <body>
  <nav>
    <ul>
      <li>
        <a href="/">Welcome!</a>
      </li>
      <li>
        <a href="/how_to_play">How to play!</a>
      </li>
    </ul>
  </nav>
    <%= yield %> 

  </body>


</html>